<div class='collega__calls'>
              <div class='collega__calls__text'>
                <h2>Collega's in gesprek</h2>
                <div class='collega__calls--grid'>
                  <div class='collega__calls__element'>
                    <div>
                      <div class='collega__call__name'>
                        <img src='/public/images/person.gif' alt='' />
                        <p>Mauro Coone</p>
                      </div>
                      <p>09/05/2023</p>
                      <span class='clock'></span>
                    </div>
                    <button><a href=''>Luister</a></button>
                  </div>

                  <div class='collega__calls__element'>
                    <div>
                      <div class='collega__call__name'>
                        <img src='/public/images/person.gif' alt='' />
                        <p>Mauro Coone</p>
                      </div>
                      <p>09/05/2023</p>
                      <span class='clock2'></span>
                    </div>
                    <button><a href=''>Luister</a></button>
                  </div>

                  <div class='collega__calls__element'>
                    <div>
                      <div class='collega__call__name'>
                        <img src='/public/images/person.gif' alt='' />
                        <p>Mauro Coone</p>
                      </div>
                      <p>09/05/2023</p>
                      <span class='clock3'></span>
                    </div>
                    <button><a href=''>Luister</a></button>
                  </div>

                  <div class='collega__calls__element'>
                    <div>
                      <div class='collega__call__name'>
                        <img src='/public/images/person.gif' alt='' />
                        <p>Mauro Coone</p>
                      </div>
                      <p>09/05/2023</p>
                      <span class='clock4'></span>
                    </div>
                    <button><a href=''>Luister</a></button>
                  </div>

                  <div class='collega__calls__element'>
                    <div>
                      <div class='collega__call__name'>
                        <img src='/public/images/person.gif' alt='' />
                        <p>Mauro Coone</p>
                      </div>
                      <p>09/05/2023</p>
                      <span class='clock5'></span>
                    </div>
                    <button><a href=''>Luister</a></button>
                  </div>

                  <div class='collega__calls__element'>
                    <div>
                      <div class='collega__call__name'>
                        <img src='/public/images/person.gif' alt='' />
                        <p>Mauro Coone</p>
                      </div>
                      <p>09/05/2023</p>
                      <span class='clock5'></span>
                    </div>
                    <button><a href=''>Luister</a></button>
                  </div>

                  <div class='collega__calls__element'>
                    <div>
                      <div class='collega__call__name'>
                        <img src='/public/images/person.gif' alt='' />
                        <p>Mauro Coone</p>
                      </div>
                      <p>09/05/2023</p>
                      <span class='clock5'></span>
                    </div>
                    <button><a href=''>Luister</a></button>
                  </div>

                  <div class='collega__calls__element'>
                    <div>
                      <div class='collega__call__name'>
                        <img src='/public/images/person.gif' alt='' />
                        <p>Mauro Coone</p>
                      </div>
                      <p>09/05/2023</p>
                      <span class='clock5'></span>
                    </div>
                    <button><a href=''>Luister</a></button>
                  </div>

                  <div class='collega__calls__element'>
                    <div>
                      <div class='collega__call__name'>
                        <img src='/public/images/person.gif' alt='' />
                        <p>Mauro Coone</p>
                      </div>
                      <p>09/05/2023</p>
                      <span class='clock5'></span>
                    </div>
                    <button><a href=''>Luister</a></button>
                  </div>
                </div>
              </div>
            </div>