<li>
  <div>
    <img src='/public/images/telephone.png' alt='telephone icon' />
  </div>
  <p>Gil verstelt</p>
  <p>09/05/2023</p>
  <p>16u22</p>
  <p>Deinze</p>
  <p>3:55</p>
  <button><a href='#'>Luister</a></button>
</li>
<hr />
<li>
  <div>
    <img src='/public/images/telephone.png' alt='telephone icon' />
  </div>
  <p>Gil verstelt</p>
  <p>09/05/2023</p>
  <p>16u22</p>
  <p>Deinze</p>
  <p>3:55</p>
  <button><a href='#'>Luister</a></button>
</li>
<hr />
<li>
  <div>
    <img src='/public/images/telephone.png' alt='telephone icon' />
  </div>
  <p>Gil verstelt</p>
  <p>09/05/2023</p>
  <p>16u22</p>
  <p>Deinze</p>
  <p>3:55</p>
  <button><a href='#'>Luister</a></button>
</li>
<hr />
<li>
  <div>
    <img src='/public/images/telephone.png' alt='telephone icon' />
  </div>
  <p>Gil verstelt</p>
  <p>09/05/2023</p>
  <p>16u22</p>
  <p>Deinze</p>
  <p>3:55</p>
  <button><a href='#'>Luister</a></button>
</li>
<hr />
<li>
  <div>
    <img src='/public/images/telephone.png' alt='telephone icon' />
  </div>
  <p>Gil verstelt</p>
  <p>09/05/2023</p>
  <p>16u22</p>
  <p>Deinze</p>
  <p>3:55</p>
  <button><a href='#'>Luister</a></button>
</li>
<hr />
<li>
  <div>
    <img src='/public/images/telephone.png' alt='telephone icon' />
  </div>
  <p>Gil verstelt</p>
  <p>09/05/2023</p>
  <p>16u22</p>
  <p>Deinze</p>
  <p>3:55</p>
  <button><a href='#'>Luister</a></button>
</li>
<hr />
<li>
  <div>
    <img src='/public/images/telephone.png' alt='telephone icon' />
  </div>
  <p>Gil verstelt</p>
  <p>09/05/2023</p>
  <p>16u22</p>
  <p>Deinze</p>
  <p>3:55</p>
  <button><a href='#'>Luister</a></button>
</li>
<hr />
<li>
  <div>
    <img src='/public/images/telephone.png' alt='telephone icon' />
  </div>
  <p>Gil verstelt</p>
  <p>09/05/2023</p>
  <p>16u22</p>
  <p>Deinze</p>
  <p>3:55</p>
  <button><a href='#'>Luister</a></button>
</li>
<hr />
<li>
  <div>
    <img src='/public/images/telephone.png' alt='telephone icon' />
  </div>
  <p>Gil verstelt</p>
  <p>09/05/2023</p>
  <p>16u22</p>
  <p>Deinze</p>
  <p>3:55</p>
  <button><a href='#'>Luister</a></button>
</li>
<hr />