<div class='recent__calls'>
  <div class='recent__calls__text'>
    <h2>Recente gesprekken</h2>
    <ul class='liveLuisteren__list recent__calls__list'>
      <li>
        <div>
          <img src='/public/images/gesprekken.png' alt='telephone icon' />
        </div>
        <p>Mauro Coone</p>
        <p>09/05/2023</p>
        <p>16u22</p>
        <p>3:55</p>
        <button><a href='/feedback'>Luister</a></button>
      </li>
      <hr />
      <li>
        <div>
          <img src='/public/images/gesprekken.png' alt='telephone icon' />
        </div>
        <p>Mauro Coone</p>
        <p>09/05/2023</p>
        <p>16u22</p>
        <p>3:55</p>
        <button><a href='/feedback'>Luister</a></button>
      </li>
      <hr />
      <li>
        <div>
          <img src='/public/images/gesprekken.png' alt='telephone icon' />
        </div>
        <p>Mauro Coone</p>
        <p>09/05/2023</p>
        <p>16u22</p>
        <p>3:55</p>
        <button><a href='/feedback'>Luister</a></button>
      </li>
      <hr />
      <li>
        <div>
          <img src='/public/images/gesprekken.png' alt='telephone icon' />
        </div>
        <p>Mauro Coone</p>
        <p>09/05/2023</p>
        <p>16u22</p>
        <p>3:55</p>
        <button><a href='/feedback'>Luister</a></button>
      </li>
      <hr />
      <li>
        <div>
          <img src='/public/images/gesprekken.png' alt='telephone icon' />
        </div>
        <p>Mauro Coone</p>
        <p>09/05/2023</p>
        <p>16u22</p>
        <p>3:55</p>
        <button><a href='/feedback'>Luister</a></button>
      </li>
      <hr />
      <li>
        <div>
          <img src='/public/images/gesprekken.png' alt='telephone icon' />
        </div>
        <p>Mauro Coone</p>
        <p>09/05/2023</p>
        <p>16u22</p>
        <p>3:55</p>
        <button><a href='/feedback'>Luister</a></button>
      </li>
      <hr />
      <li>
        <div>
          <img src='/public/images/gesprekken.png' alt='telephone icon' />
        </div>
        <p>Mauro Coone</p>
        <p>09/05/2023</p>
        <p>16u22</p>
        <p>3:55</p>
        <button><a href='/feedback'>Luister</a></button>
      </li>
      <hr />
      <li>
        <div>
          <img src='/public/images/gesprekken.png' alt='telephone icon' />
        </div>
        <p>Mauro Coone</p>
        <p>09/05/2023</p>
        <p>16u22</p>
        <p>3:55</p>
        <button><a href='/feedback'>Luister</a></button>
      </li>
      <hr />
      <li>
        <div>
          <img src='/public/images/gesprekken.png' alt='telephone icon' />
        </div>
        <p>Mauro Coone</p>
        <p>09/05/2023</p>
        <p>16u22</p>
        <p>3:55</p>
        <button><a href='/feedback'>Luister</a></button>
      </li>
      <hr />
      <li>
        <div>
          <img src='/public/images/gesprekken.png' alt='telephone icon' />
        </div>
        <p>Mauro Coone</p>
        <p>09/05/2023</p>
        <p>16u22</p>
        <p>3:55</p>
        <button><a href='/feedback'>Luister</a></button>
      </li>
      <hr />
      <li>
        <div>
          <img src='/public/images/gesprekken.png' alt='telephone icon' />
        </div>
        <p>Mauro Coone</p>
        <p>09/05/2023</p>
        <p>16u22</p>
        <p>3:55</p>
        <button><a href='/feedback'>Luister</a></button>
      </li>
      <hr />
    </ul>
  </div>
</div>