<article id='medewerkerslijst'>
  <div>
    <div class='medewerkerslijst__name'>
      <img src='/public/images/logo112.png' alt="avatar 'naam'" />
      <p>Dries Dhondt</p>
    </div>
    <p>Dries2003@outlook.be</p>
    <p>+32 4 609 778 01</p>
    <form id='rol' method='get'>
      <select name='rol' required='required' id='rol'>
        <option value='medische'>Medische directeur</option>
        <option value='ploegleiders'>Ploegleiders</option>
        <option value='deskundige'>Deskundige</option>
        <option value='functionele-directeur'>Functionele directeur</option>
      </select>
    </form>
  </div>
</article>