<nav class='nav__list'>
  <ul>
    <button class="logout"><a href="/login">Logout</a></button>
    <h2>Medewerkerslijst</h2>
    <div class='Admin-profile'>
      <div>
        <h4>Adriaan</h4>
        <span>Super Admin</span>
      </div>
      <img src='/public/images/superAdmin.jpg' alt='' />
    </div>
  </ul>
</nav>