<nav class='nav__list'>
  <ul>
    <input id='searchField' type='text' placeholder='Search..' />
    <h2>Medewerkerslijst</h2>
    <div class='Admin-profile'>
      <div>
        <h4>Big boss</h4>
        <span>Super Admin</span>
      </div>
      <img src='/public/images/superAdmin.jpg' alt='' />
    </div>
  </ul>
</nav>