<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/reset.css" />
    <link rel="stylesheet" href="/public/css/main.css"/>
    <link rel="stylesheet" href="/public/css/mediaQuerry.css"/>
    <title>Inloggen</title>
  </head>
  <body>
    <nav class="nav__list nav__listNM">
      <ul>
        <div></div>
        <div class="Admin-profile">
            <div>
              <h4>Dries Dhondt</h4> 
              <span>ROLLLL (medisch)</span>
            </div>
            <img src="/public/images/superAdmin.jpg" alt="">
        </div>
      </ul>
    </nav>
    <main class="nietMedisch__dashboard">
        <aside>
            <div>
                <img src="/public/images/dashboard.png" alt="dashboard icon">
                <p>Dashboard</p>
            </div>
            <div>
                <img src="/public/images/gesprekken.png" alt="gesprekken icon">
                <p>Gesprekken</p>
            </div>
            <div>
                <img src="/public/images/collega.png" alt="collega icon">
                <p>Collega's</p>
            </div>
        </aside>
        <section class="right__section">
            <header>
                <div class="header__container">
                    <div class="header__profile">
                        <img src="/public/images/superAdmin.jpg" alt="Dries foto">
                        <div>
                            <p>Goede morgen, Dries</p>  <!-- dynamisch maken -->
                            <span>Beoordeel nu je collega's</span>
                        </div>
                    </div>
                    <div>
                        <div>
                            <img src="/public/images/calender.png" alt="calender icon">
                            <p><span>Vandaag,</span> 9 april</p>
                        </div>
                        <div>
                            <img src="/public/images/clock.png" alt="clock icon">
                            <p>8:00</p>
                        </div>
                    </div>
                </div>
            </header>
        </section>

        <article>
            
        </article>
    </main>
  </body>
</html>