<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <main class="beoordeling__main">
        <h1>Beoordeel</h1>
        <img class="form__background__image" src="/public/images/logo112.png" alt="logo background">
        <form action="">
            <div class="rendered-form">
                <div class="formbuilder-select form-group field-select-1686223513765">
                    <label for="select-1686223513765" class="formbuilder-select-label"><p>1 - Is de veiligheid van de burger gegarandeerd?</p></label>
                    <select class="form-control" name="select-1686223513765" id="select-1686223513765">
                        <option selected="true" id="select-1686223513765-0">1</option>
                        <option selected="true" id="select-1686223513765-1">2</option>
                        <option selected="true" id="select-1686223513765-2">3</option>
                        <option selected="true" id="select-1686223513765-3">4</option>
                        <option selected="true" id="select-1686223513765-4">5</option>
                    </select>
                </div>

                <div class="formbuilder-select form-group field-select-1686223606129">
                    <label for="select-1686223606129" class="formbuilder-select-label">
                        <p class="MsoNormal"><span lang="NL">2 - Aard van de noodsituatie goed ingeschat?</span></p></label>
                    <select class="form-control" name="select-1686223606129" id="select-1686223606129">
                        <option selected="true" id="select-1686223606129-0">1</option>
                        <option selected="true" id="select-1686223606129-1">2</option>
                        <option selected="true" id="select-1686223606129-2">3</option>
                        <option selected="true" id="select-1686223606129-3">4</option>
                        <option selected="true" id="select-1686223606129-4">5</option>
                    </select>
                </div>

                <div class="formbuilder-select form-group field-select-1686223655247">
                    <label for="select-1686223655247" class="formbuilder-select-label"><p>3 - Wordt er actief gecommuniceerd met de burger over de situatie en eventuele veiligheidsinstructies?</p></label>
                    <select class="form-control" name="select-1686223655247" id="select-1686223655247">
                        <option selected="true" id="select-1686223655247-0">1</option>
                        <option id="select-1686223655247-1">2</option>
                        <option id="select-1686223655247-2">3</option>
                        <option id="select-1686223655247-3">4</option>
                        <option id="select-1686223655247-4">5</option>
                    </select>
                </div>

                <div class="formbuilder-select form-group field-select-1686223766098">
                    <label for="select-1686223766098" class="formbuilder-select-label">
                        <p class="MsoNormal"><span lang="NL">4 - Zijn de correcte hulpdiensten gecontacteerd?<o:p></o:p></span></p></label>
                    <select class="form-control" name="select-1686223766098" id="select-1686223766098">
                        <option selected="true" id="select-1686223766098-0">1</option>
                        <option id="select-1686223766098-1">2</option>
                        <option id="select-1686223766098-2">3</option>
                        <option id="select-1686223766098-3">4</option>
                        <option id="select-1686223766098-4">5</option>
                    </select>
                </div>

                <div class="formbuilder-select form-group field-select-1686223811164">
                    <label for="select-1686223811164" class="formbuilder-select-label">
                        <p class="MsoNormal"><span lang="NL">5 - Bouwt empathie op?</span></p></label>
                    <select class="form-control" name="select-1686223811164" id="select-1686223811164">
                        <option selected="true" id="select-1686223811164-0">1</option>
                        <option id="select-1686223811164-1">2</option>
                        <option id="select-1686223811164-2">3</option>
                        <option id="select-1686223811164-3">4</option>
                        <option id="select-1686223811164-4">5</option>
                    </select>
                </div>

                <div class="formbuilder-select form-group field-select-1686223837114">
                    <label for="select-1686223837114" class="formbuilder-select-label">
                        <p class="MsoNormal"><span lang="NL">6 - Toont respect?<o:p></o:p></span></p></label>
                    <select class="form-control" name="select-1686223837114" id="select-1686223837114">
                        <option selected="true" id="select-1686223837114-0">1</option>
                        <option id="select-1686223837114-1">2</option>
                        <option id="select-1686223837114-2">3</option>
                        <option id="select-1686223837114-3">4</option>
                        <option id="select-1686223837114-4">5</option>
                    </select>
                </div>

                <div class="formbuilder-select form-group field-select-1686223874897">
                    <label for="select-1686223874897" class="formbuilder-select-label">
                        <p class="MsoNormal"><span lang="NL">7 - Blijft gecontroleerd en professioneel, zelfs in moeilijke of emotionele situaties?<o:p></o:p></span></p></label>
                    <select class="form-control" name="select-1686223874897" id="select-1686223874897">
                        <option selected="true" id="select-1686223874897-0">1</option>
                        <option id="select-1686223874897-1">2</option>
                        <option id="select-1686223874897-2">3</option>
                        <option id="select-1686223874897-3">4</option>
                        <option id="select-1686223874897-4">5</option>
                    </select>
                </div>
                <a class="verstuur__button" href="mailto:example@example.be"><button>Verstuur de feedback</button></a>
            </div>      
        </form>
    </main>
</body>

</html>