<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/reset.css" />
    <link rel="stylesheet" href="/public/css/main.css"/>
    <link rel="stylesheet" href="/public/css/mediaQuerry.css"/>
    <title>Dashboard-niet medisch</title>
</head>
<body>
    <nav class="nav__list nav__listNM">
      <ul>
        <div></div>
        <div class="Admin-profile">
            <div>
              <h4>Dries Dhondt</h4> 
              <span>ROLLLL</span>
            </div>
            <img src="/public/images/superAdmin.jpg" alt="">
        </div>
      </ul>
    </nav>
    <main class="nietMedisch__dashboard">
        <aside>
            <div>
                <img src="/public/images/dashboard.png" alt="dashboard icon">
                <p>Dashboard</p>
            </div>
            <div>
                <img src="/public/images/gesprekken.png" alt="gesprekken icon">
                <p>Gesprekken</p>
            </div>
            <div>
                <img src="/public/images/collega.png" alt="collega icon">
                <p>Collega's</p>
            </div>
        </aside>
        <section class="right__section">
            <header>
                <div class="header__container">
                    <div class="header__profile">
                        <img src="/public/images/superAdmin.jpg" alt="Dries foto">
                        <div>
                            <p>Goede morgen, Dries</p>  <!-- dynamisch maken -->
                            <span>Beoordeel nu je collega's</span>
                        </div>
                    </div>
                    <div>
                        <div>
                            <img src="/public/images/calender.png" alt="calender icon">
                            <p><span>Vandaag,</span> 9 april</p>
                        </div>
                        <div>
                            <img src="/public/images/clock.png" alt="clock icon">
                            <p>8:00</p>
                        </div>
                    </div>
                </div>
            </header>
            <article>
                <h3 class="title__live">Live luisteren</h3>
                <ul class="liveLuisteren__list">
                    <li>
                        <div>
                            <img src="/public/images/telephone.png" alt="telephone icon">
                        </div>
                        <p>Gil verstelt</p>
                        <p>09/05/2023</p>
                        <p>16u22</p>
                        <p>Deinze</p>
                        <p>MauroCoone</p>
                        <p>3:55</p>
                        <button><a href="/feedback">Luister</a></button>
                    </li>
                    <hr>
                    <li>
                        <div>
                            <img src="/public/images/telephone.png" alt="telephone icon">
                        </div>
                        <p>Gil verstelt</p>
                        <p>09/05/2023</p>
                        <p>16u22</p>
                        <p>Deinze</p>
                        <p>MauroCoone</p>
                        <p>3:55</p>
                        <button><a href="/feedback">Luister</a></button>
                    </li>
                    <hr>
                </ul>
                <div>
                    <div class="collega__calls">
                        <div class="collega__calls__text">
                            <h2>Collega's in gesprek</h2>
                            <div class="collega__calls--grid">
                                <div class="collega__calls__element">
                                    <div>
                                        <div class="collega__call__name">
                                            <img src="/public/images/person.gif" alt="">
                                            <p>Gil verstelt</p>
                                        </div>
                                        <p>09/05/2023</p>
                                        <span class="clock"></span>
                                    </div>
                                    <button><a href="">Luister</a></button>
                                </div>

                                <div class="collega__calls__element">
                                    <div>
                                        <div class="collega__call__name">
                                            <img src="/public/images/person.gif" alt="">
                                            <p>Gil verstelt</p>
                                        </div>
                                        <p>09/05/2023</p>
                                        <span class="clock2"></span>
                                    </div>
                                    <button><a href="">Luister</a></button>
                                </div>

                                <div class="collega__calls__element">
                                    <div>
                                        <div class="collega__call__name">
                                            <img src="/public/images/person.gif" alt="">
                                            <p>Gil verstelt</p>
                                        </div>
                                        <p>09/05/2023</p>
                                        <span class="clock3"></span>
                                    </div>
                                    <button><a href="">Luister</a></button>
                                </div>

                                <div class="collega__calls__element">
                                    <div>
                                        <div class="collega__call__name">
                                            <img src="/public/images/person.gif" alt="">
                                            <p>Gil verstelt</p>
                                        </div>
                                        <p>09/05/2023</p>
                                        <span class="clock4"></span>
                                    </div>
                                    <button><a href="">Luister</a></button>
                                </div>

                                <div class="collega__calls__element">
                                    <div>
                                        <div class="collega__call__name">
                                            <img src="/public/images/person.gif" alt="">
                                            <p>Gil verstelt</p>
                                        </div>
                                        <p>09/05/2023</p>
                                        <span class="clock5"></span>
                                    </div>
                                    <button><a href="">Luister</a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="recent__calls">
                        <div class="recent__calls__text">
                            <h2>Recente gesprekken</h2>
                            <ul class="liveLuisteren__list recent__calls__list">
                                <li>
                                    <div>
                                        <img src="/public/images/gesprekken.png" alt="telephone icon">
                                    </div>
                                    <p>Gil verstelt</p>
                                    <p>09/05/2023</p>
                                    <p>16u22</p>
                                    <p>3:55</p>
                                    <button><a href="/feedback">Luister</a></button>
                                </li>
                                <hr>
                                <li>
                                    <div>
                                        <img src="/public/images/gesprekken.png" alt="telephone icon">
                                    </div>
                                    <p>Gil verstelt</p>
                                    <p>09/05/2023</p>
                                    <p>16u22</p>
                                    <p>3:55</p>
                                    <button><a href="/feedback">Luister</a></button>
                                </li>
                                <hr>
                            </ul>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </main>


    <script>
        function showTime(){
    let date = new Date();
    let h = date.getHours(); // 0 - 23
    let m = Math.round(date.getMinutes() / 2); // 0 - 59
    let s = date.getSeconds(); // 0 - 59
    

    m = (m < 10) ? "0" + m : m;
    s = (s < 10) ? "0" + s : s;
    
    let time = m + ":" + s;
    document.querySelector(".clock").innerText = time;
    document.querySelector(".clock").textContent = time;

    document.querySelector(".clock2").innerText = time;
    document.querySelector(".clock2").textContent = time;

    document.querySelector(".clock3").innerText = time;
    document.querySelector(".clock3").textContent = time;

    document.querySelector(".clock4").innerText = time;
    document.querySelector(".clock4").textContent = time;

    document.querySelector(".clock5").innerText = time;
    document.querySelector(".clock5").textContent = time;
    
    setTimeout(showTime, 1000);
    
}

showTime();
    </script>
</body>
</html>