<aside class='sidebar__navigation'>
  <a href='/medisch-dash'>
    <img src='/public/images/dashboard.png' alt='dashboard icon' />
    <p>Dashboard</p>
  </a>
  <a href='/gesprekken'>
    <img src='/public/images/gesprekken.png' alt='gesprekken icon' />
    <p>Gesprekken</p>
  </a>
  <a href='/collegas'>
    <img src='/public/images/collega.png' alt='collega icon' />
    <p>Collega's</p>
  </a>
</aside>