@import "fonts.css";

body{
  font-family: 'Poppins';
}
:root{
    --light: hsl(197, 24%, 94%);
    --dark: hsl(235, 21%, 21%);
    --secondary: hsl(218, 17%, 62%);
    --primary: hsl(350, 96%, 43%);
}
.container{
    max-width: 80rem;
    width: 100%;
    margin: 0 auto;
}
#Login{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    height: 80vh;
    align-items: center;
    justify-items: center;
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.35);
    position: relative;
    top: 10vh;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.4);
    width: 70rem;
}
.Login__left-logo {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg, var(--light) 0%, var(--secondary) 25%, var(--light) 51%, var(--secondary) 100%);
    -webkit-animation: AnimateBG 15s ease infinite;
            animation: AnimateBG 15s ease infinite;
}
@keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.Login__left-logo img{
    width: 10rem;
}
.Login__right-Login{
    background-color: var(--dark);
    width: 100%;
    height: 100%;
}


/* ----------------------------------------------------------- */
/* CONTACT */ 

  
  #Login section{
      width:100%;
      position:relative;
      box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  }
  #Login section article{
      width:100%;
      height:100%;
      position:absolute;
      padding: 2rem 5rem;
      background:rgba(12, 27, 65, 0.9);
  }
  #Login section article .Login__tab,
  .Login__login-form .Login__group .Login__label,
  .Login__login-form .Login__group .Login__button{
      text-transform:uppercase;
  }
  #Login section article .Login__tab{
      font-size: 24px;
      margin:0 15px 20px 0;
      padding-bottom: 0.5rem;
      border-bottom:2px solid var(--primary);
      color: var(--light);
      font-weight: 500
  }
  .Login__login-form{
      min-height:345px;
      position:relative;
      margin-top: 2rem;
  }
  .Login__login-form .Login__sign-up-htm .Login__group{
    margin-bottom: 15px;
  }
  
  .Login__login-form .Login__group .Login__label,
  .Login__login-form .Login__group .Login__input,
  .Login__login-form .Login__group .Login__button{
      width:100%;
      color:#fff;
      display:block;
      font-size: 0.8rem;
  }
  .Login__login-form .Login__group .Login__input,
  .Login__login-form .Login__group .Login__button{
      border:none;
      padding:8px 20px;
      margin-top: 10px;
      border-radius: 10px;
      background:rgba(255,255,255,.1);
  }
  .Login__login-form .Login__group .Login__label{
      color:#aaa;
      font-size:12px;
  }
  .Login__login-form .Login__group .Login__button{
      background:var(--primary);
    border: 3px solid var(--primary);
    cursor: pointer;
    transition: 0.6s;
    
  }
  .Login__login-form .Login__group .Login__button:hover{
    background: transparent;
    transition: 0.6s;
    
  }
  .Login__login-form .Login__group:nth-child(n+3){
      margin-top: 30px;
  }
  .Login__hr{
      height:2px;
      margin:40px 0 50px 0;
      background:rgba(255,255,255,.2);
  }
  input:focus{
    outline: 2px solid var(--secondary);
  }