<header>
          <div class='header__container'>
            <div class='header__profile'>
              <img src='/public/images/superAdmin.jpg' alt='Dries foto' />
              <div>
                <p>Goede morgen, {{user.id}}</p>
                <!-- dynamisch maken -->
                <span>Beoordeel nu je collega's</span>
              </div>
            </div>
            <div>
              <div>
                <img src='/public/images/calender.png' alt='calender icon' />
                <p><span>Vandaag,</span> 9 april</p>
              </div>
              <div>
                <img src='/public/images/clock.png' alt='clock icon' />
                <p>8:00</p>
              </div>
            </div>
          </div>
        </header>
        