<nav class='nav__list nav__listNM'>
      <ul>
        <form action="/logout" method="POST"><button class="logout">Logout</button></form>
        <div class='Admin-profile'>
          <div>
            <h4>{{findUser.meta.firstname}} {{findUser.meta.lastname}}</h4>
            <span>{{findUser.role.label}}</span>
          </div>
          <img src='{{findUser.meta.avatar}}' alt='' />
        </div>
      </ul>
    </nav>