<nav class='nav__list nav__listNM'>
      <ul>
        <div></div>
        <div class='Admin-profile'>
          <div>
            <h4>{{user.name}}</h4>
            <span>{{user.role}}</span>
          </div>
          <img src='/public/images/superAdmin.jpg' alt='' />
        </div>
      </ul>
    </nav>