<form action='/add-user' method='post'>
    <label for="" class="Login__label">Voornaam</label>
    <input placeholder='voornaam' name='firstname' class="Login__input" type='text'/>
    <label for="" class="Login__label">Achternaam</label>
    <input placeholder='achternaam' name='lastname' class="Login__input" type='text'/>
    <label for="" class="Login__label">*E-mail</label>
    <input placeholder='email' name='E-mail' class="Login__input" type='text'/>
    <label for="" class="Login__label">Telefoon nr.</label>
    <input placeholder='Telefoon nr.' name='phone' class="Login__input" type='text'/>
    <label for="" class="Login__label">*Wachtwoord</label>
    <input placeholder='Wachtwoord' name='password' class="Login__input" type='password'/>
    <label for="" class="Login__label">*Rol</label>
    <select name='role' id='rol'>
        <option value="medische">Medische directeur</option>
        <option value="ploegleiders">Ploegleiders</option>
        <option value="deskundige">Deskundige</option>
        <option value="functionele-directeur">Functionele directeur</option>
    </select>
</form>