<button data-rolId="2" id='medische'>
  Medische directeur
</button>
<button data-rolId="3" id='functioneel'>
  Functioneel directeur
</button>
<button data-rolId="4" id='ploegleiders'>
  Ploegleiders
</button>
<button data-rolId="5" id='deskundigen'>
  Deskundigen
</button>

<button class='filter-list'>
  <img src='/public/images/filter.png' alt='icon filter' />
  <p>Filter</p>
</button>