<button id='medische'>
  Medische directeur
</button>
<button id='functioneel'>
  Functioneel directeur
</button>
<button id='ploegleiders'>
  Ploegleiders
</button>
<button id='deskundigen'>
  Deskundigen
</button>

<button class='filter-list'>
  <img src='/public/images/filter.png' alt='icon filter' />
  <p>Filter</p>
</button>